# Wolf X-Box One (virtual) pad - linuxraw autoconfig for RetroArch
# This profile matches the virtual Xbox controller created by Wolf/inputtino

input_device = "Wolf X-Box One (virtual) pad"
input_driver = "linuxraw"
input_device_display_name = "Wolf Virtual Xbox Controller"

# Face buttons (Xbox layout: A=0, B=1, X=2, Y=3)
input_a_btn = "0"
input_b_btn = "1"
input_x_btn = "2"
input_y_btn = "3"

# Shoulder buttons
input_l_btn = "4"
input_r_btn = "5"

# Triggers (as buttons)
input_l2_btn = "6"
input_r2_btn = "7"

# Stick clicks
input_l3_btn = "9"
input_r3_btn = "10"

# Select/Start (Back=6, Start=7 on some, or 8/11)
input_select_btn = "8"
input_start_btn = "11"

# Guide button
input_menu_toggle_btn = "12"

# D-pad (hat switch)
input_up_btn = "h0up"
input_down_btn = "h0down"
input_left_btn = "h0left"
input_right_btn = "h0right"

# Analog sticks
input_l_x_plus_axis = "+0"
input_l_x_minus_axis = "-0"
input_l_y_plus_axis = "+1"
input_l_y_minus_axis = "-1"
input_r_x_plus_axis = "+2"
input_r_x_minus_axis = "-2"
input_r_y_plus_axis = "+3"
input_r_y_minus_axis = "-3"

# Triggers (as axes for analog support)
input_l2_axis = "+4"
input_r2_axis = "+5"
